################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DealershipAuto.Business/obj/Debug
/DealershipAuto.Business/bin/Debug
/DealershipAuto.GUI/obj
/DealershipAuto.GUI/bin